<mat-card>
  <mat-card-content>
    <div class="row">
      <div [class]="displayClass" *ngIf="meetingDetails.chairperson && meetingDetails.chairperson.employee">
        <mat-label class="col-md-4 text-right">{{ 'সভাপতি ' }}:</mat-label>
        <p class="col-md-11">
          {{ meetingDetails.chairperson.employee.name }},<br/>
          {{ meetingDetails.chairperson.employee.designationName }},<br/>
          {{ meetingDetails.chairperson.employee.departmentName }}
        </p>
      </div>
      <div [class]="displayClass">
        <mat-label class="col-md-4 text-right">{{ 'সদস্য সচিব​ ' }}:</mat-label>
        <p class="col-md-11">
          {{ meetingDetails.memberSecretary?.employee.name }},<br/>
          {{ meetingDetails.memberSecretary?.employee.designationName }},<br/>
          {{ meetingDetails.memberSecretary?.employee.departmentName }}
        </p>
      </div>
      <div [class]="displayClass">
        <mat-label class="col-md-4 text-right">{{ 'মিটিং এর কক্ষ ' }}:</mat-label>
        <p class="col-md-11">
          {{ meetingDetails.meetingRoom?.roomName }},<br>
          {{ meetingDetails.meetingRoom?.building.buildingName }}
          ,<br> {{ meetingDetails.meetingRoom?.building.address }}
        </p>
      </div>
      <div [class]="displayClass">
        <mat-label class="col-md-4 text-right">{{ 'তারিখ ' }}:</mat-label>
        <p class="col-md-11">
          {{ meetingDetails.meetingSchedule?.meetingDate | date: 'fullDate' | localNumber}}<br>
          {{ meetingDetails.meetingSchedule?.meetingStartTime | date: 'bbbb hh:mm' | localNumber}}
          - {{ meetingDetails.meetingSchedule?.meetingEndTime | date: 'bbbb hh:mm' | localNumber}}
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-header>
    <div class="col-lg-10">
      <h3>{{ ' আলোচ্যসূচী ' }}</h3>
    </div>
    <div class="col-lg-1">
      <button mat-mini-fab color="primary" [hidden]="!hasPermission(getAgendaAddTag())"
              matTooltip="{{ ' আলোচ্য বিষয় যোগ করুন' }}"
              (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div>
      <table #agendaSort="matSort" matSortActive="serialNo" matSortDirection="asc" mat-table
             [dataSource]="dataSource" cdkDropList [cdkDropListData]="dataSource"
             (cdkDropListDropped)="dropTable($event)" matSort>
        <ng-container matColumnDef="dragDrop">
          <th mat-header-cell [hidden]="!hasPermission(getAgendaEditTag())" *matHeaderCellDef class="width-ten-percent"> {{ '  ' }} </th>
          <td mat-cell [hidden]="!hasPermission(getAgendaEditTag())" *matCellDef="let row" align="center" class="width-ten-percent">
            <img src="https://img.icons8.com/material/24/000000/drag-reorder--v1.png">
          </td>
        </ng-container>
        <ng-container matColumnDef="serialNo">
          <th mat-header-cell *matHeaderCellDef class="width-ten-percent align-center"> {{ ' ক্রমিক নং ' }} </th>
          <td mat-cell *matCellDef="let row" class="width-ten-percent align-center"> {{row.serialNo | localNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="agenda">
          <th mat-header-cell *matHeaderCellDef class="width-sixty-percent"> {{ ' আলোচ্য বিষয় ' }} </th>
          <td mat-cell *matCellDef="let row" class="width-sixty-percent" class="multi_lines_text" [innerHTML]="row.agenda | nl2br"></td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell [hidden]="!hasPermission(getAgendaDeleteTag()) && !hasPermission(getAgendaEditTag())"
              *matHeaderCellDef class="width-twenty-percent align-center"> {{ ' অ্যাকশন ' }} </th>
          <td mat-cell [hidden]="!hasPermission(getAgendaDeleteTag()) && !hasPermission(getAgendaEditTag())" class="width-twenty-percent align-center"
              *matCellDef="let row">
            <a [hidden]="dataSource.data.length === 1 || !hasPermission(getAgendaDeleteTag())"
               class="btn btn-danger" matTooltip="আলোচ্য বিষয় মুছে ফেলুন​"
               (click)="deleteAgenda(row)" style="margin-right: 5px;">
              <i class="fa fa-trash"></i>
            </a>
            <a
              class="btn btn-secondary" matTooltip="আলোচ্য বিষয় সম্পাদনা করুন​"
              [hidden]="!hasPermission(getAgendaEditTag())"
              (click)="openDialog(row)">
              <i class="fa fa-edit"></i>
            </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            cdkDrag
            [cdkDragDisabled]="!hasPermission(getAgendaEditTag())"
            [cdkDragData]="row"
            cdkDragLockAxis="y">
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
