<h1 mat-dialog-title>{{data.dialogTitle}}</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>{{'স্মারক নং'}}</mat-label>
          <input matInput placeholder="স্মারক নং লিখুন​" formControlName="memorandumNo"
                 (ngModelChange)="submitForm()">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>{{'মিটিং এর রুম'}}</mat-label>
          <input matInput placeholder="মিটিং এর রুম লিখুন​" formControlName="meetingRoom"
                 (ngModelChange)="submitForm()">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>{{'মিটিংয়ের শিরোনাম'}}</mat-label>
          <input matInput placeholder="মিটিংয়ের শিরোনাম লিখুন​" required formControlName="meetingTitle"
                 (ngModelChange)="submitForm()">
          <mat-error *ngIf="errorHandling('meetingTitle','required')">
            দয়া করে <strong>মিটিংয়ের শিরোনাম​</strong> লিখুন​
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>{{'তারিখ​'}}</mat-label>
          <input matInput required [matDatepicker]="picker" placeholder="Choose a date" (click)="picker.open()"
                 formControlName="date" [min]="minDate" [max]="maxDate" (ngModelChange)="submitForm()" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="errorHandling('date', 'required')">
            দয়া করে <strong>মিটিংয়ের তারিখ</strong> লিখুন​
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>{{'মিটিংয়ের ধরন​'}}</mat-label>
          <input matInput placeholder="মিটিং এর ধরণ লিখুন​" formControlName="meetingType"
                 (ngModelChange)="submitForm()">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>{{'মিটিং শুরুর সম​য়'}}​</mat-label>
          <!--            <input matInput type="time" formControlName="startTime" (ngModelChange)="submitForm()">-->
          <!--            <div class="12hr-example">-->
          <input matInput placeholder="12hr format (default settings)" formControlName="startTime"
                 (ngModelChange)="submitForm()" aria-label="12hr format" [ngxTimepicker]="default1" readonly>
          <ngx-material-timepicker #default1 [ngxMaterialTimepickerTheme]="darkTheme"></ngx-material-timepicker>
          <!--            </div>-->
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>{{'মিটিং এর সভাপতি'}}</mat-label>
          <input matInput placeholder="মিটিং এর সভাপতি লিখুন​" formControlName="meetingChairperson"
                 (ngModelChange)="submitForm()">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>{{'মিটিং শেষের​ সম​য়'}}​</mat-label>
          <!--            <input matInput type="time" formControlName="endTime" (ngModelChange)="submitForm()">-->
          <input matInput placeholder="12hr format (default settings)" formControlName="endTime"
                 (ngModelChange)="submitForm()" aria-label="12hr format" [ngxTimepicker]="default2" readonly>
          <ngx-material-timepicker  #default2 [ngxMaterialTimepickerTheme]="darkTheme"></ngx-material-timepicker>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions class="example-button-row" align="end">
  <button mat-raised-button color="warn" (click)="cancel()">{{'বন্ধ​ করুন​'}}</button>
  <button mat-raised-button color="primary" [disabled]="!checkValidity()" (click)="save()">{{'সংরক্ষণ করুন'}}</button>
</div>
