<mat-card style="min-height: 55vh;">
  <mat-card-content>
    <form class="example-form" [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <mat-label>{{' মিটিংয়ের শিরোনাম ​'}}</mat-label>
            <input matInput placeholder="মিটিংয়ের শিরোনাম লিখুন​" formControlName="meetingTitle"
                   [required]="true" (ngModelChange)="submitForm()">
            <mat-error *ngIf="errorHandling('meetingTitle','required')">
              দয়া করে <strong>মিটিংয়ের শিরোনাম​</strong> লিখুন​
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>{{' স্মারক নং '}}</mat-label>
            <input matInput placeholder="স্মারক নং লিখুন​" formControlName="memorandumNo" maxlength="255"
                   [required]="true" (ngModelChange)="submitForm()">
            <mat-error *ngIf="errorHandling('memorandumNo','required')">
              দয়া করে <strong>স্মারক নং</strong> লিখুন​
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <app-meeting-types
            [isRequired]="true"
            [selectedValue]="null"
            (changed)="setMeetingType($event)"
          >
          </app-meeting-types>
        </div>
        <div class="col-md-6">
          <app-rooms
            [isRequired]="true"
            [selectedValue]="meetingRoom"
            (changed)="setMeetingRoom($event)"
          ></app-rooms>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>{{' তারিখ​ '}}</mat-label>
            <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker"
                   [required]="true" placeholder="Choose a date" (click)="picker.open()"
                   formControlName="date" [min]="minDate" [max]="maxDate" (ngModelChange)="submitForm(true)" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="errorHandling('date', 'required')">
              দয়া করে <strong>মিটিংয়ের তারিখ</strong> লিখুন​
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>{{' মিটিং শুরুর সম​য় '}}​</mat-label>
            <!--            <input matInput type="time" formControlName="startTime" (ngModelChange)="submitForm()">-->
            <!--            <div class="12hr-example">-->
            <input matInput placeholder="12hr format (default settings)" formControlName="startTime"
                   [max]="setMaxTime()"
                   [required]="true" (ngModelChange)="submitForm()" aria-label="12hr format" [ngxTimepicker]="default1"
                   readonly>
            <ngx-material-timepicker (timeSet)="setOtherTimePickerValue('startTime', $event)" #default1 [ngxMaterialTimepickerTheme]="darkTheme"></ngx-material-timepicker>
            <!--            </div>-->
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>{{' মিটিং শেষের​ সম​য় '}}​</mat-label>
            <!--            <input matInput type="time" formControlName="endTime" (ngModelChange)="submitForm()">-->
            <input matInput placeholder="12hr format (default settings)"
                   [required]="true" formControlName="endTime" [min]="setMinTime()"
                   (ngModelChange)="submitForm()" aria-label="12hr format" [ngxTimepicker]="default2" readonly>
            <ngx-material-timepicker (timeSet)="setOtherTimePickerValue('endTime', $event)" #default2 [ngxMaterialTimepickerTheme]="darkTheme"></ngx-material-timepicker>
          </mat-form-field>
        </div>

      </div>
    </form>
    <div style="height: 45vh; overflow-y: scroll; background: #eeeeee;padding: 10px"  class="col-md-12"[hidden]="possibleConflictingMeetings === undefined || possibleConflictingMeetings.length === 0">
      <h5>{{' নির্বাচিত কক্ষ এবং তারিখে অনুষ্ঠিতব্য মিটিং '}}</h5>
      <table border="1" class="table">
        <thead>
        <th>{{' স্মারক নং '}}</th>
        <th>{{' শিরোনাম​ '}}</th>
        <th>{{' সময় '}}</th>
        </thead>
        <tbody>
        <tr *ngFor="let r of possibleConflictingMeetings">
          <td>{{r.memorandumNumber}}</td>
          <td>{{r.meetingTitle}}</td>
          <td>{{r.meetingSchedule.meetingStartTime | date: 'bbbb hh:mm' | localNumber}}-
            {{r.meetingSchedule.meetingEndTime | date: 'bbbb hh:mm' | localNumber}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>
