.bg-light-one {
  background-color: lightgray
}

.loading-modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-filter {
  border: none
}
.btn-filter-reset {
  margin-right: 5px;
}
